$header-height = 10vh
$main-height = 100vh - $header-height

$pd = 5vw
$info-block-w = 340px


// font size

$h4 = 16px
$h3 = 18px
$h2 = 22px
$h1 = 28px





// colors



$purple = rgba(61, 69, 238, 1)
$hover-time = .3s



.info-block
    width $info-block-w
    // margin-left 200px
    height 100%
    margin-top -($header-height)
    display flex
    flex-direction column
    justify-content space-between
    align-items flex-start
    &__image
      img 
        width 60px
        height 60px
        margin-bottom 10px
    .content
      margin-bottom 20px
      &__name
        font-family: 'TT Norms Bold';                      
        font-style: normal;
        font-weight: bold;
        font-size: $h1;
        line-height: 47px;
        letter-spacing: -0.82353px;
        color: #000000;
        margin-bottom 10px
      &__description
        font-family: 'TT Norms Regular';                      
        font-style: normal;
        font-weight: normal;
        font-size: $h4;
        line-height: 26px;
        letter-spacing: -0.452942px;
        color: #000000;

    
.wrapper
  height 100vh
  width 100vw
  background white
  display flex
  flex-direction row
  justify-content center
  align-items center
  &__container
    height 100vh
    width 75vw
    display flex
    flex-direction row
    justify-content flex-start
    align-items center

.temp
  width 100%
  display flex
  flex-direction: row
  justify-content: flex-start
  align-items: center